<nav class="collections-sidebar">

   {% if site.multi_projects %}

      {% for item in site.data.projects %}

         {% if page.url contains item.link %}
            <ul>
               <li><a href="{{ item.link }}">Общее</a></li>
               <li><a href="{{ item.link }}:contents">Контент</a></li>
               <li><a href="{{ item.link }}:about">Легенда</a></li>
            </ul>
         {% endif %}

      {% endfor %}
      
   {% else %}
      <ul>
         <li><a href="/wiki">Общее</a></li>
         <li><a href="/wiki:contents">Контент</a></li>
         <li><a href="/about">Легенда</a></li>
      </ul>
   {% endif %}

</nav>
